<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mi Página</title>
    <script src="https://cdn.tailwindcss.com/3.4.1"></script>
  </head>
  <body class="font-sans p-8">
    <a href="index.html">
      <button
        class="bg-cyan-500 text-white px-6 py-2 rounded-lg shadow-lg font-medium text-lg mb-6"
      >
        Volver
      </button>
    </a>
    <h1 class="text-2xl font-bold mb-8">Mi Página</h1>
    <div class="flex items-center gap-8">
      <img src="lamas.jpg" alt="Imagen" class="size-96" />
      <div class="text-xl">
        Este es el texto que aparece a la derecha de la imagen.Este es el texto
        que aparece a la derecha de la imagen.Este es el texto que aparece a la
        derecha de la imagen.Este es el texto que aparece a la derecha de la
        imagen.Este es el texto que aparece a la derecha de la imagen.Este es el
        texto que aparece a la derecha de la imagen.Este es el texto que aparece
        a la derecha de la imagen.Este es el texto que aparece a la derecha de
        la imagen.Este es el texto que aparece a la derecha de la imagen.Este es
        el texto que aparece a la derecha de la imagen.Este es el texto que
        aparece a la derecha de la imagen.Este es el texto que aparece a la
        derecha de la imagen.Este es el texto que aparece a la derecha de la
        imagen.Este es el texto que aparece a la derecha de la imagen.Este es el
        texto que aparece a la derecha de la imagen.Este es el texto que aparece
        a la derecha de la imagen.Este es el texto que aparece a la derecha de
        la imagen.Este es el texto que aparece a la derecha de la imagen.Este es
        el texto que aparece a la derecha de la imagen.Este es el texto que
        aparece a la derecha de la imagen.Este es el texto que aparece a la
        derecha de la imagen.Este es el texto que aparece a la derecha de la
        imagen.Este es el texto que aparece a la derecha de la imagen.Este es el
        texto que aparece a la derecha de la imagen.Este es el texto que aparece
        a la derecha de la imagen.Este es el texto que aparece a la derecha de
        la imagen.Este es el texto que aparece a la derecha de la imagen.Este es
        el texto que aparece a la derecha de la imagen.Este es el texto que
        aparece a la derecha de la imagen.Este es el texto que aparece a la
        derecha de la imagen.Este es el texto que aparece a la derecha de la
        imagen.Este es el texto que aparece a la derecha de la imagen.Este es el
        texto que aparece a la derecha de la imagen.Este es el texto que aparece
        a la derecha de la imagen.Este es el texto que aparece a la derecha de
        la imagen.
      </div>
    </div>
  </body>
</html>
