<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="../browser@4.js"></script>
    <title>Comunidad el Wayku</title>
  </head>
  <body class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="max-w-2xl mx-auto bg-white rounded-lg shadow-lg p-8">
      <img
        src="../wayku.webp"
        alt="Comunidad el Wayku"
        class="w-full h-64 object-cover rounded-md mb-6 shadow-md"
      />
      <h1 class="text-4xl font-bold text-gray-800 mb-6 text-center">
        Comunidad el Wayku
      </h1>
      <p class="text-gray-700 mb-4 text-lg text-center">
        “Vive el alma viva de Lamas en la comunidad indígena El Wayku, hogar del
        pueblo quechua-lamista. Aquí no solo conocerás sus tradiciones, sino que
        serás parte de ellas. Caminando por sus calles, escucharás el idioma
        ancestral, verás sus coloridos atuendos típicos y descubrirás rituales,
        danzas, comidas y relatos transmitidos de generación en generación. Si
        buscas turismo auténtico y transformador, El Wayku es una experiencia
        que toca el corazón.”
      </p>
      <div class="flex justify-center mt-6">
        <button
          onclick="history.back()"
          class="px-6 py-2 bg-blue-600 text-white rounded hover:bg-blue-700 transition"
        >
          Kutiy
        </button>
      </div>
    </div>
  </body>
</html>
